name: ci

on:
  push:
  pull_request:

jobs:
  wasi-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up MoonBit
        run: |
          curl -fsSL https://cli.moonbitlang.com/install/unix.sh | bash
          echo "$HOME/.moon/bin" >> $GITHUB_PATH
      - name: Moon version
        run: moon version --all
      - run: moon update
      - name: Build native CLI
        run: |
          moon build --target native --release
          mkdir -p ~/.local/bin
          cp _build/native/release/build/src/main/main.exe ~/.local/bin/moon-component
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - run: moon-component generate examples/wasi-cli/wit/world.wit -o examples/wasi-cli
      - run: moon build --target wasm --release impl
        working-directory: examples/wasi-cli
      - run: moon-component componentize examples/wasi-cli/_build/wasm/release/build/impl/impl.wasm --wit-dir examples/wasi-cli/wit -o /tmp/wasi-cli.component.wasm
