name: release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            asset_os: linux
            asset_arch: x64
          - os: macos-latest
            asset_os: macos
            asset_arch: arm64
          - os: macos-13
            asset_os: macos
            asset_arch: x64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: moonbitlang/setup-moonbit@v1
      - run: ./tools/dist/package.sh ${{ matrix.asset_os }} ${{ matrix.asset_arch }}
      - uses: actions/upload-artifact@v4
        with:
          name: moon-component-${{ matrix.asset_os }}-${{ matrix.asset_arch }}
          path: dist/moon-component-${{ matrix.asset_os }}-${{ matrix.asset_arch }}.tar.gz

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
      - uses: softprops/action-gh-release@v2
        with:
          files: dist/**/moon-component-*.tar.gz
